* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  margin: 2rem;
}

button.btn{
  cursor: pointer;
  margin: 1rem;
  padding: 0.5rem 1rem;
  background-color: hsl(234, 50%, 50%);
  color: white;
  border-radius: 5px;
  font-size: 1.1rem;
  font-weight: 500;
}

button.btn:disabled{
  cursor: not-allowed;
  background-color: hsl(234, 50%, 50%, 0.5);
}

button.delete-btn{
  border: none;
}
body {
  font-family: sans-serif;
}

table {
  border-collapse: separate;
  border-spacing: 0;
  border: 2px solid rgb(140 140 140);
  font-size: 0.8rem;
  letter-spacing: 1px;
}
thead {
  background-color: rgb(228 240 245);
}

th,
td {
  border: 1px solid rgb(160 160 160);
  padding: 8px 10px;
}

td {
  background-color: hsl(0, 0%, 96%);
}

td:has(input), td:has(select) {
  padding: 0;
  background-color: white;
}

input {
  border: 0;
  background-color: transparent;
}

select{
  border: 0;
  background-color: transparent;
}


input:focus-within {
  outline: none;
}

select:focus-within{
  outline: none;
}

td:has(input.error) {
  border-color: red;
  outline-color: red;
}

tr.new td{
  background-color: hsl(240, 20%, 90%);
}